.env.development
.env.production
.next/
.npmrc
/trace
e2e/reports/
e2e/results/
next-env.d.ts
node_modules/
playwright-report/
screenshot.png
tsconfig.build.tsbuildinfo
tsconfig.tsbuildinfo
next-env.d.ts
